<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumbotron</title>
</head>
<body>
    <div data-aos="zoom-in" class=" responsive">
        <div class="jumbotron bg-tg-yellow">
            <p class="jumbotron__title">Dapatkan komisi lebih 10% dari setiap penjualan</p>
            <button class="jumbotron__btn">Cari Tahu Caranya</button>
        </div>
   </div>
</body>
</html>