<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighlightCategory</title>
</head>
<body>
    <div class="hidden highlight__container md:flex">
        <div class="col-span-2 highlight__category">
            <div class="rounded-full box box--48 md:box--56">
                <div class="">
                    <img src="./assets/img/products/perlatan-makan.png" alt="" class="absolute absolute--full absolute__img">
                </div>
            </div>
            <h4 class="badge badge--sm badge--green__bold">Hightlight</h4>
            <h3 class="text-lg--bold">Peralatan Makan</h3>
            <a href="./kategori" class="link__explore">
                <span>Jelajahi </span>
                <svg class="" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.51 11H4.5V13H16.51V16L20.5 12L16.51 8V11Z" fill="#EB1C24"/>
                </svg>                                
            </a>
        </div>
    </div>   
</body>
</html>