<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="h-20 md:h-auto x-slide md:x-slide--none">
        <div class="top-categories">
            <div class="top-categories__sub">
                <a href="./category" class="top-category">
                    <img class="top-category__img " src="./assets/img/categories/alatdapur.png" alt="">
                    <div class="absolute p-5 lg:p-8 absolute--full absolute--left">
                        <div class="top-category__title">Peralatan <br> Dapur</div>
                    </div>
                </a>
                <a href="./category" class="top-category">
                    <img class="top-category__img " src="./assets/img/categories/otomotif.png" alt="">
                    <div class="absolute p-5 lg:p-8 absolute--full absolute--right">
                        <div class="top-category__title">Otomotif</div>
                    </div>
                </a>
            </div>
            <a href="./category" class="top-category md:pt-100p">
                <img class="top-category__img " src="./assets/img/categories/kesehatan.png" alt="">
                <div class="absolute p-5 lg:p-8 absolute--full absolute--left">
                    <div class="top-category__title">Kesehatan</div>
                </div>
            </a>
            <div class="top-categories__sub">
                <a href="./category" class="top-category">
                    <img class="top-category__img " src="./assets/img/categories/musik.png" alt="">
                    <div class="absolute p-5 lg:p-8 absolute--full absolute--right">
                        <div class="top-category__title">Alat <br> Musik</div>
                    </div>
                </a>
                <a href="./category" class="top-category">
                    <img class="top-category__img " src="./assets/img/categories/kecantikan.png" alt="">
                    <div class="absolute p-5 lg:p-8 absolute--full absolute--left">
                        <div class="top-category__title">Kecantikan</div>
                    </div>
                </a>
            </div>
       </div>
    </div>   
</body>
</html>