<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MobileCategory</title>
</head>
<body>
    <div class="mobile-category mobile__scrollbar">
        <div class="mobile-nav__title">
            <div class="flex items-center space-x-2">
                <span class="link-text--primary" onclick="toggleMobileCategory('close')">
                    <svg class="nav__svg--sm" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z" />
                    </svg> 
                </span>                   
                <h2 class="mobile-nav__title__text">Kategori</h2>
            </div>
        </div>
        <ul>
            <li class="left-nav">
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori A</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori B</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori C</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori D</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori E</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori F</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori G</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori H</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori I</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori J</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori K</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori L</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori M</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori N</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori O</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori P</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori Q</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
                <div class="left-nav__menu left-nav__menu--base" onclick="toggleMobileCategory()">
                    <span class="">Kategori R</span>
                    <svg class="nav__svg--md" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.15801 6.175L10.9747 10L7.15801 13.825L8.33301 15L13.333 10L8.33301 5L7.15801 6.175Z" />
                    </svg>  
                </div>          
            </li>  
        </ul>
    </div>
</body>
</html>